Features/.vs/slnx.sqlite
Features/.vs/Features.slnx/FileContentIndex/0cb663d4-c42b-46b4-b489-95dc29629c43.vsidx
Features/.vs/Features.slnx/FileContentIndex/1b89793a-5221-4f7d-9e2f-39d33fd2ce9b.vsidx
Features/.vs/Features.slnx/FileContentIndex/7beb39f0-2064-4e9a-acc3-dc057b053d91.vsidx
Features/.vs/Features.slnx/FileContentIndex/71d8f6be-3fc3-44c1-899c-f7e9c29010ab.vsidx
Features/.vs/Features.slnx/FileContentIndex/530d9cbe-0eb7-4f22-b45f-2a85b4ddce8e.vsidx
/Features/.vs/Features.slnx/FileContentIndex
